.gallery-wrap {
  margin-top: 7rem;
  /* border:3px solid red; */
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;

}


.gallery-wrap .header-navbar {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  /* border-bottom: 1px solid rgb(233, 233, 233); */
}


.gallery-wrap .header-navbar div {}

.gallery-wrap .header-navbar div p {
  text-transform: uppercase;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.1rem 1rem;
  cursor: pointer;
  /* border: 1px solid black; */
}

.gallery-wrap .header-navbar div p:hover {
  background-color: aliceblue;
}

.gallery-wrap>div:last-child{
  /* border:1px solid red; */
  margin-top: 1rem;
  text-align: center;
}

.gallery-wrap div:last-child p{
  text-align: center;
}





@media only screen and (max-width:900px) {
  .gallery-wrap {
    margin-top: 8rem;
    /* border:3px solid red; */
  }
}